version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: realmeet-mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./.docker/mysql:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"